.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.input{
  font-family: 'Lato', sans-serif;
  font-size: 1.0em;
  width: auto;
  /*max-width: 470px;*/
  height: 50px;
  padding: 0px 15px 0px 15px;
  margin: 15px;
  background: transparent;
  outline: none;
  color: #726659;
  border: solid 1px #b3aca7;
}

.resultDiv{
  max-width: 600px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
